export DB_USER=postgres
export DB_NAME=postgres
export DB_PASS=12345
export DB_HOST=localhost
export DB_LOCAL_PORT=5432
export DB_PORT=5432

export REDIS_URL=redis://localhost:6379

export DATABASE_ENV=postgres

export URL_API_GEO=http://api.geonames.org/
export API_KEY_GEO=nick name

export BOT_TOKEN=token